@import "tailwindcss";

@theme inline {
  --font-primary: var(--font-bayon);
  --font-secondary: var(--font-akshar);
}
@theme {
  --color-primary: #4779B8;
  --color-dark: #1F2937;
  --color-light: #F9FAFB;
  --color-text: #000000;
  --color-bg: #ffffff;

  --animation-fade-in: fadeIn 0.5s ease-in-out;
  --animation-slide-up: slideUp 0.5s ease-in-out;
}

html, body {
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}