@import "tailwindcss";

@theme inline {
  --font-primary: bayon;
  --font-secondary: akshar;
}
@theme {
  --color-primary: #4779B8;
  --color-secondary: #d0cccc;
  --color-accent: #F0B0C3;
  --color-text: #000000;
  --color-subtitle: #666;
  --color-bg: #ffffff;
  --color-home-border: #e0e0e0;

  --animation-fade-in: fadeIn 0.5s ease-in-out;
  --animation-slide-up: slideUp 0.5s ease-in-out;
  --animate-marquee: scrollMarquee 60s linear infinite;
  --animate-meet-marquee: marqueeScroll 20s linear infinite;

 @keyframes scrollMarquee {
    from { transform: rotate(-90deg) translateX(0%); }
    to   { transform: rotate(-90deg) translateX(-50%); }
}

  @keyframes marqueeScroll {
    from { transform: translateX(0%); }
    to   { transform: translateX(-50%); }
  }
}
html {
  height: 100%;
}

body {
    height: 100%;
    overflow-y: auto;
    /* scroll-behavior: smooth; */
}

.modal-open-bg {
  /* Prevent background scroll when a modal is open. No color overlay is applied here. */
  overflow: hidden !important;
}