@import "tailwindcss";

@theme inline {
  --font-primary: var(--font-bayon);
  --font-secondary: var(--font-akshar);
}
@theme {
  --color-primary: #4779B8;
  --color-secondary: #d0cccc;
  --color-text: #000000;
  --color-bg: #ffffff;

  --animation-fade-in: fadeIn 0.5s ease-in-out;
  --animation-slide-up: slideUp 0.5s ease-in-out;
}
html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}