@import "tailwindcss";

@theme inline {
  --font-primary: bayon;
  --font-secondary: akshar;
}
@theme {
  --color-primary: #4779B8;
  --color-secondary: #d0cccc;
  --color-accent: #F0B0C3;
  --color-text: #000000;
  --color-bg: #ffffff;

  --animation-fade-in: fadeIn 0.5s ease-in-out;
  --animation-slide-up: slideUp 0.5s ease-in-out;
}
html {
  height: 100%;
}

body {
    height: 100%;
    overflow-y: auto;
    /* scroll-behavior: smooth; */
}

.modal-open-bg {
  /* Prevent background scroll when a modal is open. No color overlay is applied here. */
  overflow: hidden !important;
}