.homeCardWrapper {
    position: relative;
    border-radius: 0.75rem;
    overflow: hidden;
    width: 100%;
    height: 90vh;
}

@media (min-width: 768px) {
    .homeCardWrapper {
        height: auto;
        border-radius: 0;
    }
}

.homeCardImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .homeCardImage {
        height: auto;
        width: 100%;
    }
}

.homeCardOverlay {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    font-family: bayon;
    letter-spacing: 0.05em;
    text-align: center;
    color: white;
    width: 30rem;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

@media (min-width: 768px) {
    .homeCardOverlay {
        white-space: nowrap;
    }
}

.homeCardTitle {
    font-size: 1.875rem;
    line-height: 1;
}

@media (min-width: 640px) {
    .homeCardTitle {
        font-size: 3.5rem;
    }
}

@media (min-width: 768px) {
    .homeCardTitle {
        font-size: 1.875rem;
    }
}

@media (min-width: 1024px) {
    .homeCardTitle {
        font-size: 3.5rem;
    }
}

@media (min-width: 1280px) {
    .homeCardTitle {
        font-size: 3.5rem;
    }
}

.homeCardSubtitle {
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .homeCardSubtitle {
        margin-top: 1rem;
    }
}

@media (min-width: 640px) {
    .homeCardSubtitle {
        font-size: 1.875rem;
    }
}

@media (min-width: 768px) {
    .homeCardSubtitle {
        font-size: 1.875rem;
    }
}

@media (min-width: 1024px) {
    .homeCardSubtitle {
        font-size: 2.25rem;
    }
}

@media (min-width: 1280px) {
    .homeCardSubtitle {
        font-size: 3.125rem;
    }
}

.homeCardBadge {
    position: absolute;
    bottom: 0.75rem;
    right: 0.75rem;
    padding: 0.75rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
}

@media (min-width: 768px) {
    .homeCardBadge {
        bottom: 1.25rem;
        right: 1.25rem;
    }
}

.homeCardBadgeText {
    color: rgb(209, 213, 219);
    font-size: 0.75rem;
}

@media (min-width: 640px) {
    .homeCardBadgeText {
        font-size: 0.875rem;
    }
}

@media (min-width: 768px) {
    .homeCardBadgeText {
        font-size: 1rem;
    }
}
